<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Request</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f5f5f5;
        }
        .form-container {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .form-container label, .form-container input, .form-container textarea {
            display: block;
            margin-bottom: 10px;
        }
        .form-container button {
            margin-top: 10px;
        }
        .error {
            color: red;
        }

    </style>
</head>
<body>
<div class="form-container">
    {% if success %}
    <h2>Success</h2>
    {% else %}
    <h2>Contact Request</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <p class="error">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {{ form.as_p }}

        <button type="submit" class="btn form-control">Submit</button>
    </form>
    {% endif %}
</div>
</body>
</html>